name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: [CompraFacil, CompraFacilAdmin]

    steps:
    - name: Checkout the Repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: './${{ matrix.app }}/package-lock.json'

    - name: Install dependencies
      run: |
        cd ${{ matrix.app }}
        npm install --legacy-peer-deps

    - name: Prebuild Expo App
      run: |
        cd ${{ matrix.app }}
        npx expo prebuild --platform android --no-install

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x ${{ matrix.app }}/android/gradlew

    - name: Build with Gradle
      run: |
        cd ${{ matrix.app }}/android
        ./gradlew assembleDebug

    - name: Uploading an Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.app }}-Debug-APK
        path: ./${{ matrix.app }}/android/app/build/outputs/apk/debug/app-debug.apk
