name: Android Release2

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the Repository
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Release APK
      run: ./gradlew assembleRelease

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: 'web/package-lock.json'

    - name: Install Web Dependencies
      run: |
        cd web
        npm ci

    - name: Build Web Application
      run: |
        cd web
        npm run build

    - name: Upload Web Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: CompraFacil-Web-Release
        path: ./web/dist

    - name: Upload Store Release APK
      uses: actions/upload-artifact@v4
      with:
        name: CompraFacil-Store-Release
        path: ./app/build/outputs/apk/release/*.apk

    - name: Upload Admin Release APK
      uses: actions/upload-artifact@v4
      with:
        name: CompraFacil-Admin-Release
        path: ./admin/build/outputs/apk/release/*.apk
